@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,800&display=swap');

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(250, 240, 227, 1);
}

h1 h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}